<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to "Edit this article", edit_article_path(@article) %>
<%= link_to "Delete this article", article_path(@article), method: :delete %>
<%= link_to "Back to all articles", articles_path(@article) %>

